<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../blindTyping.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="../blindTyping.js"></script>

    <title>Blind Typing</title>

</head>

<body>
    <h1>Blind Typing</h1>
    <h3 class="desc"> Learn how to type blindly today! </h3>
    <h5 id="elab"> Follow these simple exercises and become a blind typer! </h5>

    <div id="app" class="container">

        <div class="exp">

            Copy the following quote, without looking at the keyboard!, to the best of you ability.

        </div>

        <div class="menu" v-if="menu">

            Choose diffeculty level:
            <ul v-for="level in levels">
                <li><button class="level.id" v-on:click="chosenLevel(levle.id)"> {{ level.desc }} </button></li>
            </ul>
        </div>

        <div id="exc" v-else>

            <div>

                <span class="original" :value="org"></span>

            </div>

            <div>

                <button class="start" v-on:click="startTimer" v-if="start">start</button>
                <button class="stop" v-on:click="stopTimer" v-if="!start">stop</button>
                <p class="timer"></p>

            </div>

            <div>

                <input class="copy" type="text" :value="copied" v-on:input="compareText">

            </div>
            <div>
                <p v-if="mistake" class="alert alert-danger" role="alert">Oops... Seems like you mistyped. Donnot be discouraged, I know you can do it!</p>
                <p v-if="good" class="alert alert-success" role="alert">You are on fire! you passed this excercise with only {{ errors }} mistakes!</p>
            </div>
            <div class="under">
                <button v-on:click="next">Next</button>
                <button v-on:click="return">Menu</button>
            </div>
        </div>
    </div>

</body>

</html>